/********Base styles********/
* {box-sizing: border-box;
	margin: 0
	padding:0;}
.row {width: 100%}
.h1 {margin-bottom: 15px;
	text-align: center;}
h2{margin: 0}
p{
	margin-right: auto; margin-left: auto; padding-top: 20px
}
.content {position: relative; margin: 1%; padding-right: 15px; padding-left: 15px}
.content_title {position: absolute; top: 0; right: 0; border: 1px solid black}
#Chicken {background-color: #D69C9C}
#Beef {background-color: #C34D4B}
#Sushi {background-color: #E6D29C}

/*Decstop mod */
@media (min-width: 992px ) {
	body{background-color: green}
	.col-lg-4 {width: 30%;  float: left; background-color: #9D9D9D; border: 1px solid black; margin-bottom: 15px;}

}
/* Tablet mod */
@media (min-width: 768px) and (max-width: 991px) {

body{background-color: yellow}
.col-tb-6 {width: 47%; float: left; background-color: #9D9D9D; border: 1px solid black; margin-bottom: 15px; }
.col-tb-12{width: 96%; float: left; background-color: #9D9D9D; border: 1px solid black; }}

/* Mobile mod */
@media (max-width: 767px) 
{
body{background-color: red}
.col-mob-12 {width: 97%;  float: left; background-color: #9D9D9D; border: 1px solid black; margin-bottom: 15px;}

}
